source/NANOSPA/Web References/wsv_SMS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://w2m.bluezone.vn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://w2m.bluezone.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://w2m.bluezone.vn/">
      <s:element name="SendSMSBrandName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSBrandNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSBrandNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSBrandNameSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSBrandName" />
  </wsdl:message>
  <wsdl:message name="SendSMSBrandNameSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSBrandNameResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSBrandNameHttpGetIn">
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="sms" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSBrandNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSBrandNameHttpPostIn">
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="sms" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSBrandNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SMSSoap">
    <wsdl:operation name="SendSMSBrandName">
      <wsdl:input message="tns:SendSMSBrandNameSoapIn" />
      <wsdl:output message="tns:SendSMSBrandNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSHttpGet">
    <wsdl:operation name="SendSMSBrandName">
      <wsdl:input message="tns:SendSMSBrandNameHttpGetIn" />
      <wsdl:output message="tns:SendSMSBrandNameHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSHttpPost">
    <wsdl:operation name="SendSMSBrandName">
      <wsdl:input message="tns:SendSMSBrandNameHttpPostIn" />
      <wsdl:output message="tns:SendSMSBrandNameHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSSoap" type="tns:SMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSBrandName">
      <soap:operation soapAction="http://w2m.bluezone.vn/SendSMSBrandName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSSoap12" type="tns:SMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSBrandName">
      <soap12:operation soapAction="http://w2m.bluezone.vn/SendSMSBrandName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSHttpGet" type="tns:SMSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendSMSBrandName">
      <http:operation location="/SendSMSBrandName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSHttpPost" type="tns:SMSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendSMSBrandName">
      <http:operation location="/SendSMSBrandName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMS">
    <wsdl:port name="SMSSoap" binding="tns:SMSSoap">
      <soap:address location="http://115.165.162.27/CMC_BRAND/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSSoap12" binding="tns:SMSSoap12">
      <soap12:address location="http://115.165.162.27/CMC_BRAND/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSHttpGet" binding="tns:SMSHttpGet">
      <http:address location="http://115.165.162.27/CMC_BRAND/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSHttpPost" binding="tns:SMSHttpPost">
      <http:address location="http://115.165.162.27/CMC_BRAND/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>